<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>
<body>
  <div id = "app">
    	<input name="test-dropwdown" @keyup.enter="showIt" @keyup.40="bustArr" class="selector">
      <div v-if="inputFilled">
        <ul class="someList">
          <li v-for="test in tests" @click="bustArr">{{test}}</li>
        </ul>
     </div>

  </div>
</body>
<script src="vue.js"></script>
<script src="app.js"></script>
</html>
